 
<div class="row">
  <div class="col-md-4 col-md-offset-4">
       <h1>Create new Album</h1>
       
       <%= form_for @album, url:albums_path, method: :post do |f| %>

      <div class="form-group">
        <%= f.label   :title , class: "control-label col-sm-2"%>
        <div class="col-sm-8 col-sm-offset-2"><%= f.text_field :title , class: "form-control"  %></div>
      </div>
      <div class="form-group">
        <%= f.label :description , class: "control-label col-sm-2" %>
       <div class="col-sm-8 col-sm-offset-2"> <%= f.text_field :description , class: "form-control "  %></div>
      </div>


      <div id="newButtons">

      <%= link_to 'Back to Albums', user_path(id: @album.user_id), class: "btn btn-primary pull-left" %>  

      <%= f.submit "Create" , class: "btn btn-success pull-right" %>
        
      </div>

      <% end %>

      
  </div>
</div>

  <script>

        var form = document.getElementById("new_album");
        form.className += " form-horizontal";

  </script>
