
<% if user_signed_in? %>
Your ID: <%= current_user.id %>
<h1>Hi <%= current_user.name %>!!</h1>


<% if current_user.id == @user.id %>
<h4><p>You are viewing your own page</p></h4>

<% else %>


<h4><p>You are viewing <%= @user.name %>'s Page</p></h4>
<p><%= @user.name %>'s' ID: <%= @user.id %> </p>
<p> Email: <%= @user.email %> </p>
<% end %>


<div id="listAlbums" class="row">

<p> Click to Access an Album: </p>

<!-- Display List of Albums -->

    <% if (@albums.empty?) == false %>
          <% @albums.each do |album| %>
          
            <div class="col-sm-6 col-md-4"> 
              <div class="thumbnail">
                <img src="" alt="">
                <div class="caption">
                  <h4> <%= link_to album_path(id: album.id) do %> <%= album.title %> <% end %> </h4>
                   <p> <%= album.description %> </p>
                    <div id="albumButtons">
                       <%= link_to "Edit", edit_album_path(id: album.id), class:"btn btn-default" %> 
                      <%= link_to "Delete", album_path(id: album.id), method: :delete, class: "btn btn-danger" %> 
                    </div> 
                </div>
              </div>
            </div>
          
              
          <% end %>
    <% else %>
            <h4> No albums have been created. </h4>
    <% end %>

</div>



<%= link_to 'Create New Album', new_album_path, class: "btn btn-success" %>
<%= link_to 'View Other Users', users_path, class: "btn btn-success" %>
<br><br><br>


<% else %>
<h1>no user signed in.</h1>
<% end %>





