<div class="row">
  <div class="pageHeader">
    <% if user_signed_in? %>
      <% if current_user.id == @user.id %>
        <h1>Hi <%= current_user.name.capitalize %>!!</h1>
          <h4><p>Your Homepage</p></h4>
            <% else %>
              <h4><p>You are viewing <%= @user.name.upcase %>'s Gallery</p></h4>
              <p><%= @user.name.capitalize %>'s' ID: <%= @user.id %> </p>
              <p> Email: <%= @user.email %> </p>
        <% end %>

        <% else %>

            <h1>no user signed in.</h1>

    <% end %>

        <%= link_to 'View Other Users', users_path, class: "btn btn-info" %>
        <% if current_user.id == @user.id %> 
        <!-- Need to implement the above ^ check in users/show, album/show and photos/show to a boolean -->
        <!-- Then check across the pages, viewing other users should not see create/edit/delete buttons -->
        <%= link_to 'Create New Album', new_album_path, class: "btn btn-success" %>
        <% end %>
        
    </div>

    <div id="listAlbums" class="row">
        <% if @albums.empty? %>
             <h4> No albums have been created. </h4>
        <% else %>
      <div class="col-md-offset-3">
    <!-- Display List of Albums -->
        
              <% @albums.each do |album| %>
              
                <div class="col-sm-3"> 
                  <div class="thumbnail">
                    <img src="" alt="">
                    <div class="caption">
                      <h3> <%= link_to album_path(id: album.id) do %> <%= album.title %> <% end %> (<%= album.photos.count %> Photos)</h3>
                       
                        <div id="albumButtons">
                          
                        </div> 
                    </div>
                  </div>
                </div>
              
              <% end %>
        <% end %>
      </div>
    </div>



</div>


<br><br><br>








