<div class="row">
    <div class="pageHeader">
        <% if user_signed_in? %>

            Your ID: <%= current_user.id %>
            <h1>Hi <%= current_user.name %>!!</h1>

            <% if current_user.id == @user.id %>

                <h4><p>You are viewing your own page</p></h4>

            <% else %>

                <h4><p>You are viewing <%= @user.name %>'s Page</p></h4>
                <p><%= @user.name %>'s' ID: <%= @user.id %> </p>
                <p> Email: <%= @user.email %> </p>

            <% end %>

        <% else %>

            <h1>no user signed in.</h1>

        <% end %>

        <%= link_to 'View Other Users', users_path, class: "btn btn-info" %>
        <%= link_to 'Create New Album', new_album_path, class: "btn btn-success" %>
        

    </div>

    <div id="listAlbums" class="row">
      <div class="col-md-offset-3">
    <!-- Display List of Albums -->

        <% if (@albums.empty?) == false %>
              <% @albums.each do |album| %>
              
                <div class="col-sm-3"> 
                  <div class="thumbnail">
                    <img src="" alt="">
                    <div class="caption">
                      <h3> <%= link_to album_path(id: album.id) do %> <%= album.title %> <% end %> (<%= album.photos.count %> Photos)</h3>
                       
                        <div id="albumButtons">
                          
                        </div> 
                    </div>
                  </div>
                </div>
              
              <% end %>
        <% else %>
                <h4> No albums have been created. </h4>
        <% end %>
      </div>
    </div>



</div>


<br><br><br>








