

<div class="row">

  <div class="pageHeader">

  <h1>Albums Show Page</h1>

  <h3>  <strong> <%= @album.title %> </strong> </h3> 
  <h4>  <%= @album.description %> </h4>

  <%= link_to 'Back', user_path(id: current_user.id), class: "btn btn-default" %>  
  <%= link_to 'Add Photo', new_album_photo_path(album_id: @album.id), class: "btn btn-success"  %> 
   <%= link_to "Edit", edit_album_path(id: @album.id), class: "btn btn-primary" %> 
                          <%= link_to "Delete", album_path(id: @album.id), method: :delete, class: "btn btn-danger" %>  

  </div>

  <div id="displayThumbs">

  <% if !(@photos.empty?) %>
    <%- @photos.each do |photo| %>
      <%= link_to album_photo_path(album_id: @album.id, id:photo.id), class: "thumbnail" do %>
          <%= image_tag photo.image.thumb unless photo.image.blank?  %>
      <% end %>
    <% end %>
  <% else %>
    <h5>There are currently no photos in this album.</h5>
  <% end %>

  </div>

</div>



 
