<div id="titleHeader" class="row" align="center">

    <h1> Welcome To Your <i class="fa fa-picture-o fa-2x" aria-hidden="true"></i> App!  </h1>

</div>

<div class="row" align="center">
    <div class="loginForm" class="well">

    <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field form-group">
       <%= f.label :email %> 
        <%= f.email_field :email, autofocus: true, placeholder: "Email" %> 
      </div>

      <div class="field form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions form-group">
        <%= f.submit "Log in" %>
      </div>

    <%= render "devise/shared/links" %>

    </div>

</div>

<% end %>
