 
<div class="row">
  <div class="col-md-4 col-md-offset-4">
       <h1>Edit Photo</h1>
       
       <%= form_for @photo, url:album_photo_path(album_id: @photo.album_id, id:@photo.id), method: :put do |f| %>

      <div class="form-group">
        <%= f.label   :caption , class: "control-label col-sm-2"%>
        <div class="col-sm-8 col-sm-offset-2"><%= f.text_area :caption , class: "form-control"  %></div>
      </div>

      <div class="buttons">

      <%= link_to 'Back', album_photo_path(album_id: @photo.album.id, id: @photo.id), class: "btn btn-primary" %>  

      <%= f.submit "Update" , class: "btn btn-success pull-right" %>
        
      </div>

      <% end %>

  </div>
</div>

  <script>
        var form = document.getElementsByTagName("form");
        form[0].className += " form-horizontal";
  </script>

  <%= render 'layouts/textarea' %>
