
<div class="row">

  <div class="pageHeader">

      <h2> Photo Display </h2>

      <%= link_to "Back", album_path(id: @photo.album_id), class: "btn btn-default" %>
      <%= link_to 'Edit', edit_album_photo_path(album_id:@photo.album_id, id: @photo.id), class: "btn btn-primary " %> 
      <%= link_to 'Delete', album_photo_path(album_id: @photo.album_id,id: @photo.id), method: :delete, class: "btn btn-danger "%>

  </div>

  <div id="displayPhoto">
    <div class="thumbnail">
    <%=  image_tag @photo.image.normal unless @photo.image.blank? %>

      <h3>  
      
        <span id="caption"><%= @photo.caption %> </span>
      

      </h3>
    </div>

    <div class="displayComments well">

        <% if @comments.any? %>
          <h2><%= @comments.size %> Comment(s) </h2>
          <% @comments.each do |comment| %>
            <%= render comment %>
          <% end %>
        <% else %>
          <p>There are no comments.</p>
        <% end %>

        <div id="commentForm">
          <%= render 'comments/new' %>
        </div>

    </div>

  </div>
  
</div>


    <%= render 'layouts/textarea' %>

