<!DOCTYPE html>
<html>
  <head>
    <title>PhotoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container-fluid"></div>
      <div id="header" class="row">
        <%= render 'layouts/messages' %>
     
           <% if user_signed_in? %>
           <div class="navbar navbar-inverse navbar-static-top">
              <%= link_to 'Home', root_path, class: "navbar-brand" %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "navbar-brand" %>
             <div class="navbar-text"> Your ID: <%= current_user.id %> </div>
          </div>
           <% end %>
      </div>

       <%= yield %>


  </body>
  </html>

