<!DOCTYPE html>
<html>
  <head>
    <title>PhotoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<% controller_name %> <%= action_name %>">
    <div class="container-fluid">
      <div id="header" class="row">
     <div class="notice" align="center">
      <%- flash.each do |key,value| %>
        <% key %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
           <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
           <% end %>
      </div>




       <%= yield %>


      <div id="footer" class="container">
          <div class="jumbotron">
              <div id="footer-content">
                  <p class="text-muted">Copyright KelSha 2017</p>
              </div>
          </div>
      </div>
    </div>
  </body>
</html>
